@font-face {
    font-family: monofett; /* myFirstFont*/
    src: url(fonts/monofett/Monofett-Regular.ttf);
}
@font-face {
    font-family: coda-caption;
    src: url(fonts/coda/CodaCaption-Heavy.ttf);
}
@font-face {
    font-family: dot-gothic-16;
    src: url(fonts/dotGothic16/DotGothic16-Regular.ttf);
}

body {
    --dark-purple: #481698;
    --light-purple: #C8C8F9;
    --dark-grey: #272947;
    background-color: var(--light-purple)
}

.title {
    text-align: center;
    font-family: coda-caption;
    font-size: 96px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.title-font {
    color: var(--dark-purple);
    text-decoration: none;
}

.nav-bar {
    font-family: monofett;
    font-size: 48px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: inline-block;
    /* text-align: center; */
  }

.nav-bar-tab {
    float: left;
}

.nav-bar-button {
    display: block;
    padding-top: 0px;
    padding-left: 48px;
    padding-right: 48px;
    text-decoration: none;
    color: var(--dark-grey);
}
.about-page-container {
    padding-left: 300px;
    padding-right: 300px;
}

.about-page {
    text-align: center;
    font-family: dot-gothic-16;
    font-size: 32px;
    color: var(--dark-grey);
}

.footer-container {
    padding-bottom: 200px;
}
/* mobile mode */
@media only screen and (max-width: 1180px) { 
    .nav-bar-button {
        padding-left:32px;
        padding-right: 32px;
    }
    .about-page-container {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media only screen and (max-width: 960px) { 
    .title {
        font-size: 88px;
    }
    .nav-bar {
        font-size: 32px;
      }
    .nav-bar-button {
        padding-left: 16px;
        padding-right: 16px;
    }
    .about-page {
        font-size: 24px;
    }
    .about-page-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 750px) { 
    .title {
        font-size: 58px;
    }
    .nav-bar {
        font-size: 24px;
      }

    .about-page-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .nav-bar-button {
        padding-left: 8px;
        padding-right: 8px;
    }
}